body
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
section
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(4.jpg); 
}
section .color
{
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: hue;
}
section .color:nth-child(5n + 1)
{
	box-shadow: 0 0 0 2000px #f00;
}
section .color:nth-child(5n + 2)
{
	box-shadow: 0 0 0 2000px #f0f;
}
section .color:nth-child(5n + 3)
{
	box-shadow: 0 0 0 2000px #0f0;
}
section .color:nth-child(5n + 4)
{
	box-shadow: 0 0 0 2000px #00f;
}
section .color:nth-child(5n + 5)
{
	box-shadow: 0 0 0 2000px #0ff;
}